@page "/addinventory"

@attribute [Authorize(Policy = "Inventory")]

@inject IAddInventoryUseCase AddInventoryUseCase
@inject NavigationManager NavigationManager

<h3>Add Inventory</h3>
<br/>

<EditForm Model="inventory" FormName="formInventory" OnValidSubmit="Save">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="name">Inventory Name</label>
        <InputText
            id="name"
            @bind-Value="inventory.InventoryName"
            class="form-control">
        </InputText>
        <ValidationMessage For="() => inventory.InventoryName"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="quantity">Quantity</label>
        <InputNumber id="quantity"
                   @bind-Value="inventory.Quantity"
                   class="form-control">
        </InputNumber>
        <ValidationMessage For="() => inventory.Quantity"></ValidationMessage>
    </div>

    <div class="form-group">
        <label for="price">Price</label>
        <InputNumber id="price"
                     @bind-Value="inventory.Price"
                     class="form-control">
        </InputNumber>
        <ValidationMessage For="() => inventory.Price"></ValidationMessage>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    <a href="/inventories" class="btn btn-primary">Cancel</a>
</EditForm>

@code {

    [SupplyParameterFromForm]
    private InventoryViewModel inventory { get; set; } = new InventoryViewModel();

    private async Task Save()
    {
        var inv = new Inventory
        {
                InventoryId = inventory.InventoryId,
                InventoryName = inventory.InventoryName,
                Price = inventory.Price,
                Quantity = inventory.Quantity
        };

        await AddInventoryUseCase.ExecuteAsync(inv);

        NavigationManager.NavigateTo("/inventories");
    }

}
