
@if (this.Inventory is not null)
{
    <tr>
        <td>@Inventory.InventoryName</td>
        <td>@Inventory.Quantity</td>
        <td>@Inventory.Price.ToString("c")</td>
        <td>
            <button type="button"
                    class="btn btn-light">
                Edit
            </button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Inventory? Inventory { get; set; }

}
