@inject NavigationManager NavigationManager
@inject IDeleteProductUseCase DeleteProductUseCase

@if (this.Product is not null)
{
    <tr>
        <td>@Product.ProductName</td>
        <td>@Product.Quantity</td>
        <td>@Product.Price.ToString("c")</td>
        <td>
            <a class="btn btn-light"
                href="/editproduct/@Product.ProductId">
                Edit
            </a>
        </td>
        <td>
            <button 
                type="button" 
                class="btn btn-light"
                @onclick="async () => { await HandleDelete(Product.ProductId); }">Delete</button>
        </td>
    </tr>
}

@code {

    [Parameter]
    public Product? Product { get; set; }


    private async Task HandleDelete(int productId)
    {        
        await DeleteProductUseCase.ExecuteAsync(productId);
        this.Product = null;
    }


}
