@page "/purchase"
@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@rendermode InteractiveServer

@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<h3>Purchase Inventory</h3>
<br/>

<AutoCompleteComponent     
    Label="Inventory"
    SearchFunction="SearchInventory"></AutoCompleteComponent>

@code {

    private List<ItemViewModel>? SearchInventory(string name)
    {
        var list = ViewInventoriesByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null) return null;

        return list.Select(x => new ItemViewModel { Id = x.InventoryId, Name = x.InventoryName })?.ToList();
    }

}
