@page "/Account/ManageUsers"
@using IMS.WebApp.Data
@using Microsoft.AspNetCore.Identity

@attribute [Authorize(Policy = "Admin")]

@inject UserManager<ApplicationUser> UserManager

<h3>Manage Users</h3>
<br/>

@if (users is not null && users.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in users)
            {
                <tr>
                    <td>
                        @user.Email
                    </td>
                    <td>
                        <a href="/account/manageuser/@user.Id" class="btn btn-link">Manage</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ApplicationUser>? users;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        users = UserManager.Users.ToList();
    }

}
