<div class="form-group">
    <label for="search">@Label</label>
    <input
        type="text"
        class="form-control"
        @bind-value="userInput" 
        @bind-value:event="oninput" />

</div>
@if (searchResults is not null && searchResults.Count > 0)
{
    <div class="search-result">
        <ul>
            @foreach (var item in searchResults)
            {
                <li @key="item.Id">
                    @item.Name
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public Func<string, List<ItemViewModel>>? SearchFunction { get; set; }

    private List<ItemViewModel>? searchResults = null;

    private string _userInput = string.Empty;
    public string userInput 
    { 
        get => _userInput; 
        set
        {
            _userInput = value;

            if (!string.IsNullOrWhiteSpace(_userInput) && SearchFunction != null)
            {
                searchResults = SearchFunction(_userInput);
            }
        } 
    }

    public class ItemViewModel
    {
        public int Id { get; set; }
        public string Name { get; set; } = string.Empty;
    }
}
