.search-result {
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid silver;
    padding-top: 5px;
}

div ul {
    list-style-type: none;
    margin-bottom: 5px;
    padding-left:10px;
}

div ul li {
    cursor: pointer;
}

.selected{
    background-color:antiquewhite;
}