@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Inventory Management</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="inventories">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inventories
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="products">
                        <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Products
                    </NavLink>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Activities
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="purchase">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Purchase
                            </NavLink>
                        </li>                        
                        <li>
                            <NavLink class="nav-link" href="produce">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Produce
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="sell">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Sell
                            </NavLink>
                        </li>
                    </ul>
                </li>      
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Reports
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <NavLink class="nav-link" href="inventoryreport">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Inventory Report
                            </NavLink>
                        </li>
                        <li>
                            <NavLink class="nav-link" href="productreport">
                                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Product Report
                            </NavLink>
                        </li>                        
                    </ul>
                </li>
            </ul>     
            
            <AuthorizeView>
                <Authorized>
                    <div class="navbar-nav px-3">
                        <NavLink class="nav-link" href="Account/Manage">
                            <span class="bi bi-person-fill-nav-menu" aria-hidden="true"></span> @context.User.Identity?.Name
                        </NavLink>
                    </div>
                    <div class="navbar-nav px-3">
                        <form action="Account/Logout" method="post">
                            <AntiforgeryToken />
                            <input type="hidden" name="ReturnUrl" value="@currentUrl" />
                            <button type="submit" class="btn btn-link nav-link">
                                <span class="bi bi-arrow-bar-left-nav-menu" aria-hidden="true"></span> Logout
                            </button>
                        </form>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <div class="navbar-nav px-3">
                        <NavLink class="nav-link" href="Account/Register">
                            <span class="bi bi-person-nav-menu" aria-hidden="true"></span> Register
                        </NavLink>
                    </div>
                    <div class="navbar-nav px-3">
                        <NavLink class="nav-link" href="Account/Login">
                            <span class="bi bi-person-badge-nav-menu" aria-hidden="true"></span> Login
                        </NavLink>
                    </div>
                </NotAuthorized>
            </AuthorizeView>

        </div>
    </div>
</nav>

<main>
    <div class="bg-light p-5">
        @Body
    </div>
</main>

@code {
    private string? currentUrl;

    protected override void OnInitialized()
    {
        currentUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = NavigationManager.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
