@page "/"


@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase

<PageTitle>Test Page</PageTitle>
<br/>
<br/>

<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach(var inv in inventories)
        {
            <li>
                @inv.InventoryName
            </li>
        }
    }
</ul>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
