@page "/"


@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase
@inject IEditInventoryUseCase EditInventoryUseCase

<PageTitle>Test Page</PageTitle>
<br/>
<br/>

<ul>
    @if (inventories is not null && inventories.Count > 0)
    {
        foreach(var inv in inventories)
        {
            <li>
                @inv.InventoryName
            </li>
        }
    }
</ul>

@code {
    private List<Inventory>? inventories;

    protected override async Task OnInitializedAsync()
    {
        var inventory = new Inventory { InventoryId = 2, InventoryName = "Bike Seat", Quantity = 50, Price = 3 };

        await EditInventoryUseCase.ExecuteAsync(inventory);

        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync()).ToList();
    }
}
